*{
    box-sizing: border-box;/*tamaño de la caja*/
    padding: 0;
    margin: 0;
}
body{
    min-height: 100%;/*el minimo de la altura siempre va a ser 100%*/
}
html{
    height: 100%;/*nos aseguramos o reafirmamos que toda la página tenga un alto de 100%*/
}
header {
    background: #34495e;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.navbar{
    float: right;
}
#nombres{
    font-size: 15pt;
}
.inicio{
    grid-area: inicio;
    background-color: #5F0F40;
    padding: 3rem;

}
.sobreMi{
    grid-area: sobreMi;
    background-color: #1B1819;
    padding: 3rem;
}
.curriculum{
    grid-area: curriculum;
    background-color: #9A031E;
    padding: 3rem;
}
.proyectos{
    grid-area: proyectos;
    background-color: #FB8B24;
    padding: 3rem;
}
.habilidades{
    grid-area: habilidades;
    background-color: #FFBD00;
    padding: 3rem;
}
.contactame{
    grid-area: contactame;
    background-color: #0F4C5C;
    padding: 3rem;
}
.exp{
    font-size: 28pt; 
    color: #FAF5F0;
}
.footer{
    grid-area: footer;
    background-color: #0f4d5cbd;
    padding: 0.5rem;
  
}
.nombre{
    font-size: 40pt;
    color: #FAF5F0;
}
.hab{
    font-size: 28pt; 
    color: #000000; 
    text-align: center;
}
.ocupacion{
    font-size: 32pt;
    padding-top: 2rem;
    color: #FAF5F0;
}
.desc{
    font-size:20pt;
    padding-top: 2rem;
    text-align: justify;
    color: #FAF5F0;
}
.links{
    padding-top: 2rem;
}
.github{
    padding-right: 5rem;
    padding-bottom: 5rem;
}
.githubimg{
    width: 100px;
    height: 100px;
}
.linkedin{
    padding-right: 5rem;
}
.linkedinimg{
    width: 100px;
    height: 100px;
}
.descarga{
    width: 172px;
    height: 57px;
    border-radius: 10px;
    color: #FAF5F0;
    background-color: #000000;
}
.encabezado{
    font-size: 34pt;
    font-weight: 700;
    color: #FAF5F0;
    text-align: center;
}
p.infdatos{
    color: #FAF5F0;
    font-size: 18pt;
    text-align: justify;
}
.generation{
    padding-bottom: 3rem;
    background-color: #FAF5F0;
}
.card-subtitle{
    font-size: 10pt;
    text-align: left;
}
.card-title{
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
}
.lista{
    text-align: left; 
    font-size: 14pt;
}
.card-text{
    font-size: 14pt;
}
.card-img-top{
    height: 10rem;
    width: 10rem;
    margin-top: 3%;
}
.sombra{
    border-radius: 10px; 
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.form-control{
    background-color: #168AAD;
}
.enviar{
    background-color: #5A189A;
    font-size: 15pt;
    float: right;
    width: 120px;
    height: 57px;
    border-radius: 10px;
}
.vermas{
    background-color: #5A189A;
    font-size: 15pt;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.githubimg2{
    width: 50px;
    height: 50px;
}
.linkedinimg2{
    width: 50px;
    height: 50px;
}
/*Esta es la parte del teléfono, se define la construccion*/
.gridcontainer{
    display: grid;
    gap: 10px;
    /*a partir de este momento decimos como está construida la cajita*/
    grid-template-areas:
    "navbar"
    "inicio"
    "sobreMi"
    "curriculum"
    "proyectos"
    "habilidades"
    "contactame"
    "footer";
}
/*Para celular*/
@media only screen and (max-width:480px){
    p.infdatos{
        font-size: 12pt;
    }
    .card-title{
        font-size: 14pt;
    }
    .card-text{
        font-size: 12pt;
    }
    .nombre{
        font-size: 24pt;
    }
    .ocupacion{
        font-size: 18pt;
    }
    .desc{
        font-size: 14pt;
    }
    .githubimg{
        width: 3rem;
        height: 3rem;
    }
    .github{
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .linkedinimg{
        width: 3rem;
        height: 3rem;
    }
    .linkedin{
        padding-right: 1rem;
    }
    .encabezado{
        font-size: 24pt;
    }
    .exp{
        font-size: 18pt;
    }
    .hab{
        font-size: 18pt;
    }
    .lista{
        font-size: 12pt;
    }
    .descarga{
        width: 95px;
        height: 35px; 
        font-size: 10pt;
    }
    .inicio{
        padding: 1rem;
    
    }
    .sobreMi{
        padding: 1rem;
    
    }
    .curriculum{
        padding: 1rem;
    
    }
    .proyectos{
        padding: 1rem;
    
    }
    .habilidades{
        padding: 1rem;
    
    }
    .contactame{
        padding: 1rem;
    
    }
    .gridcontainer{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "navbar"
        "inicio"
        "sobreMi"
        "curriculum"
        "proyectos"
        "habilidades"
        "contactame"
        "footer";
    }
}
/*Para tablet*/
@media(min-width:768px){
    .gridcontainer{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "navbar"
        "inicio"
        "sobreMi"
        "curriculum"
        "proyectos"
        "habilidades"
        "contactame"
        "footer";
    }
}
 /*Para escritorio*/
 @media(min-width:900px){
    .gridcontainer{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "navbar"
        "inicio"
        "sobreMi"
        "curriculum"
        "proyectos"
        "habilidades"
        "contactame"
        "footer";
    }
}
/*Animaciones, en keyframes no es necesario nombrar las cosas con un punto inicial (.ajo)*/
@keyframes ajo{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.ajo{
    animation-name: ajo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}